.select-size {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
label:not(label.not-import)::after {
  position: absolute;
  content: "*";
  color: rgb(204, 18, 18);
  padding-left: 5px;
}
